<ul class="grid--tile">

  {% include square-tile__icon-text.html %}

  {% include square-tile__img.html %}
  
  {% include square-tile__trends.html %}

  {% include square-tile__text.html %}

  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
  <li class="column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
    <img src="http://placehold.it/450x450" alt="">
  </li>
</ul>
