<footer class="footer" role="contentinfo">
	<div class="grid">
		<div class="column column__20-of-20 column__20-of-20--small column__12-of-20--medium column__10-of-20--large">
			<nav class="nav footer__nav" role="navigation">
				<ul class="nav__ul">
					<li class="nav__li"><a href="#" class="link">About Drummond Central</a></li>
					<li class="nav__li"><a href="#" class="link">Meet Us</a></li>
					<li class="nav__li"><a href="#" class="link">Work</a></li>
					<li class="nav__li"><a href="#" class="link">News + Views</a></li>
					<li class="nav__li"><a href="#" class="link">Sociable Folk</a></li>
					<li class="nav__li"><a href="#" class="link">Careers</a></li>
					<li class="nav__li"><a href="#" class="link">Contact us</a></li>
					<li class="nav__li"><a href="#" class="link">Privacy Policy</a></li>
					<li class="nav__li"><a href="#" class="link">Accessibilty</a></li>
				</ul>
			</nav>
			<p class="body-text--small footer__text">Drummond Central Limited, 70 Jesmond Road West, Newcastle upon Tyne, NE2 4PQ, United Kingdom.</p>
			<p class="body-text--small footer__text">Tel: +44(0)191 212 8999 or Email: <a href="mailto:letstalk@drummondcentral.co.uk" class="link link--underline">letstalk@drummondcentral.co.uk</a></p>
			<p class="body-text--small footer__text">&copy; 2015 Drummond Central. All rights reserved.</p>
		</div>
		<div class="column column__20-of-20 column__8-of-20--medium column__10-of-20--large">
			<div class="social-icon__wrap">
				<a href="#"><svg viewBox="0 0 100 100" class="social-icon icon__twitter">
				    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__twitter"></use>
				</svg></a>
				<a href="#"><svg viewBox="0 0 100 100" class="social-icon icon__facebook">
				    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__facebook"></use>
				</svg></a>
				<a href="#"><svg viewBox="0 0 100 100" class="social-icon icon__google-plus">
				    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__google-plus"></use>
				</svg></a>
				<a href="#"><svg viewBox="0 0 100 100" class="social-icon icon__youtube">
				    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__youtube"></use>
				</svg></a>
				<a href="#"><svg viewBox="0 0 100 100" class="social-icon icon__rss-feed">
				    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__rss-feed"></use>
				</svg></a>
			</div>
		</div>
	</div>
</footer>
