<div class="freewall-container column column__20-of-20 column__12-of-20--medium column__14-of-20--large">
  <ul class="freewall">
    <li class="four-col brick first">
        <img src="http://drummondcentral.co.uk/uploads/default/files/660_NBS_coatsworth_Retina_1.jpg" alt="NBS150 Poster1">
      </li>
      <li class="four-col brick" data-fixSize=true>
        <img src="http://drummondcentral.co.uk/uploads/default/files/660_NBS_coatsworth_broch_covers_Retina_2.jpg" alt="NBS150 Covers">
      </li>
      <li class="four-col brick">
        <img src="http://drummondcentral.co.uk/uploads/default/files/Screen_Shot_2015-09-09_at_15.38_.37_.png" alt="">
      </li>
      <li class="two-col brick">
        <img src="http://drummondcentral.co.uk/uploads/default/files/660_NBS_coatsworth_broch_spread_retina_2.jpg" alt="NBS150 Spread2">
      </li>
      <li class="two-col brick">
        <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_Retina_2.jpg" alt="NBS150 Poster3">
      </li>
      <li class="four-col brick">
          <img src="http://drummondcentral.co.uk/uploads/default/files/Screen_Shot_2015-09-09_at_15.38_.37_.png" alt="NBS150 Cover3">
      </li>
      <li class="two-col brick">
          <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_postcard_retina_3.jpg" alt="NBS150 Postcard3">
      </li>
      <li class="two-col brick">
        <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_broch_spread_retina_1.jpg" alt="NBS150 Spread">
      </li>
      <li class="two-col brick">
          <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_Retina_1.jpg" alt="NBS150 Poster2">
      </li>
      <li class="two-col brick">
          <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_cover_Retina_2.jpg" alt="NBS150 Cover2">
      </li>
      <li class="two-col brick">
          <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_postcard_retina_2.jpg" alt="NBS150 Postcard2">
      </li>
      <li class="two-col brick">
        <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_cover_Retina_1.jpg" alt="NBS150 Cover1">
      </li>
      <li class="two-col brick">
        <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_postcard_retina_1.jpg" alt="NBS150 Postcard1">
      </li>
      <li class="two-col brick">
        <img src="http://drummondcentral.co.uk/uploads/default/files/320_NBS_coatsworth_Retina_3.jpg" alt="NBS150 Poster4">
      </li>
    </ul>
</div>
