<div class="freewall--five-container column column__20-of-20">
  <ul class="freewall--five">
		  <li class="four-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
      			<img src="http://placehold.it/600x350" alt="">
          </a>
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x350" alt="">
          </a>
          <div class="article__inner">
            <h2>Could you be our new label, this is a very long title thats stupidly long?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer. We’re looking for a new designer. A very rare opportunity
has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
		  </li>
		  <li class="two-col brick" >
        <article class="article--blue">
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time" datetime="16-12-2015">16-12-2015</time>
          </div>
        </article>
		  </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x250" alt="">
          </a>
          <div class="article__inner article--gray">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
		  </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x350" alt="">
          </a>
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
		  </li>
		  <li class="two-col brick" >
        <article class="article--blue">
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
		  </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x250" alt="">
          </a>
          <div class="article__inner article--gray">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
		  </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x350" alt="">
          </a>
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick" >
        <article class="article--blue">
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x250" alt="">
          </a>
          <div class="article__inner article--gray">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x350" alt="">
          </a>
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick" >
        <article class="article--blue">
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x250" alt="">
          </a>
          <div class="article__inner article--gray">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick">
        <article class="article--gray">
          <a href="" title="Read the full article">
            <img src="http://placehold.it/450x350" alt="">
          </a>
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
      <li class="two-col brick" >
        <article class="article--blue">
          <div class="article__inner">
            <h2>Could you be our new label?</h2>
            <p>We’re looking for a new designer. A very rare opportunity
  has opened up here at DC for an exceptional mid-weight/senior designer.</p>
            <a class="article__link" href="" title="Read the full article">Read more</a>
            <time class="article__time">16-12-2015</time>
          </div>
        </article>
      </li>
    </ul>
</div>
