<header class="header" role="banner">
	<div class="grid">
		<div class="column column__2-of-20">
			<a href="http://localhost:9000/templates/home.html"><svg viewBox="0 0 100 100" class="site-logo icon--large icon__drummond-logo">
			    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__drummond-logo"></use>
			</svg></a>
		</div>
		<nav class="nav header__nav column column__18-of-20" role="navigation">
			<ul class="nav__ul nav__ul--header">
				<li class="nav__li nav__li--header"><a href="http://localhost:9000/templates/generic-content.html" class="link">About Drummond Central</a></li>
				<li class="nav__li nav__li--header"><a href="http://localhost:9000/templates/meet-us.html" class="link">Meet Us</a></li>
				<li class="nav__li nav__li--header"><a href="http://localhost:9000/templates/work.html" class="link">Work</a></li>
				<li class="nav__li nav__li--header"><a href="http://localhost:9000/templates/news.html" class="link">News + Views</a></li>
				<li class="nav__li nav__li--header"><a href="http://localhost:9000/templates/generic-content.html" class="link">Sociable Folk</a></li>
				<li class="nav__li nav__li--header"><a href="http://localhost:9000/templates/careers.html" class="link">Careers</a></li>
				<li class="nav__li nav__li--header"><a href="http://localhost:9000/templates/contact.html" class="link">Contact us</a></li>
			</ul>
		</nav>
		<div class="icon__hamburger-menu">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<nav class="nav__drop-down">
			<ul class="ul__drop-down"></ul>
		</nav>
	</div>
</header>
