<div class="grid info-grid">
	<div class="info-grid__title-section column column__16-of-20 column__16-of-20--small column__14-of-20--medium column__14-of-20--large column__8-of-20--extra-large">
		<h1 class="info-grid__title">NEVER LOOK STUPID IN A MEETING AGAIN.</h1>
	</div>
	<div class="column column__20-of-20 column__20-of-20--small column__12-of-20--medium column__10-of-20--large column__4-of-20--extra-large">
		<p>Do you sometimes draw a blank at certain buzz-words? ROFL. Or do you worry your colleagues, clients and friends will think you're stupid because you don't know your Periscope from your Pinterest?</p>
		<p>Fear not. You've come to the right place. Sign up to our weekly newsletter for all the bantz and enjoy the smugness.</p>
		<p>Are your socials in need of help? Fire over an email or give us a call for a full social media healthcheck and we'll get your business talking.</p>
	</div>
	<div class="column column__16-of-20 column__10-of-20--small column__8-of-20--medium column__6-of-20--large column__4-of-20--extra-large">
		<h5>Want to get out there now?</h5>
		<br>
		<p>Call Richard Rippon at Sociable Folk on: <a href="tel:01912128999" class="text-wrap"><strong>0191 212 8999</strong></a></p>
		<p>or email Richard at <a href="mailto:richard@drummondcentral.co.uk" class="text-wrap"><strong>richard@drummondcentral.co.uk</strong></a></p>
	</div>
	<div class="column column__10-of-20 column__10-of-20--small column__8-of-20--medium column__4-of-20--large column__4-of-20--extra-large">
		<h5>Sign me up to the Sociable Folk update </h5>
		<br>
		<form action="http://drummond.createsend.com/t/j/s/mjlirj/" method="post" id="email-input" class="email-input" role="form">
			<label class="email-input__label">Enter e-mail...</label>
            <input class="email-input__field" id="field-email" name="cm-mjlirj-mjlirj" type="email" required="" placeholder="email...">
            <input type="submit" value="" class="email-input__button">
        </form>
        <div id="ajax-subscribe"></div>
	</div>
</div>