<div class="column column__20-of-20 column__8-of-20--medium column__6-of-20--large column__6-of-20--large sidebar">
  <h2>It's simple. We, uh, kill the Batman.</h2>
	<h3 class="title--light">But no ordinary child, a child born in hell, forged from suffering, hardened by pain. Not a man from privilege.</h3>
	<p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
  <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
</div>
