<div class="banner column column__20-of-20 cycle-slideshow"
	data-cycle-slides="> div"
>
	<div class="banner__image-wrap">
		<img src="../imgs/homepage-banner.jpg" alt="Temporary example image" class="banner__image"> <!-- Temporary example image -->
		<div class="banner__content">
			<h1 class="banner__content__title">TAKIN’ CARE OF CREATIVE, MARKETING AND DIGITAL.</h1>
			<a href="#" class="banner__content__link">MORE ABOUT US</a>
		</div>
	</div>
	<div class="banner__image-wrap" style="display: none;">
		<img src="../imgs/career-page-banner.jpg" alt="Temporary example image" class="banner__image"> <!-- Temporary example image -->
		<div class="banner__content">
			<h1 class="banner__content__title">TAKIN’ CARE OF CREATIVE, MARKETING AND DIGITAL.</h1>
			<a href="#" class="banner__content__link">MORE ABOUT US</a>
		</div>
	</div>
</div>
