<li class="tile column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
  <img src="../imgs/example-grid-image.jpg" alt="" class="tile-image">
  <a href="#" title="" class="tile-hover-area">
    <div class="disc disc--small tile-hover-mask">
      <div class="disc__inner disc__inner--small">
        <div class="disc__content disc--small-title">
          <h3 class="disc-title">let us tell you about</h3>
          <p class="disc-subtitle">Drummond central</p>
        </div>
      </div>
    </div>
  </a>
</li>