<li class="tile column--tile column__10-of-20 column__10-of-20--small column__5-of-20--medium column__5-of-20--large column__4-of-20--extra-large">
  <img src="../imgs/colour-background--red.png" alt="">
  <a href="#" title="" class="text-tile-hover">
    <div class="tile-content-wrap">
      <p class="tile-content__title--small">Vacancy</p>
      <h3 class="tile-content__title tile-content__title--vacancy">FRONT-END DEVELOPER</h3>
      <time class="tile-content__date">19-01-2016</time>
    </div>
    <div class="disc disc--small tile-hover-mask">
      <div class="disc__inner disc__inner--small">
        <div class="disc__content disc--small-title">
          <h3 class="disc-title">let us tell you about</h3>
          <p class="disc-subtitle">Drummond central</p>
        </div>
      </div>
    </div>
  </a>
</li>