---
layout: base
title: News view
class: header-border
---

{% include header.html %}

<main class="grid" role="main">
  {% include sidebar-large.html %}
  <div class="column column__20-of-20 column__12-of-20--large">
    <header class="content--header">
        <img src="http://placehold.it/900x450" title="header image">
    </header>
    <div class="content two-columns">
      <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
      <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
      <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
      <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
      <img src="http://placehold.it/450x450" title="header image">
      <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
      <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
      <img src="http://placehold.it/450x450" title="header image">
      <p>Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?</p>
    </div>
    <div class="content two-columns">
      <img src="http://placehold.it/450x450" title="header image">
      <img src="http://placehold.it/450x450" title="header image">
    </div>
  </div>
</main>

<section class="related-news" role="complementary">
  <h2>RELATED NEWS</h2>
  <div class="grid">
    {% include freewall--news.html %}
  </div>
</section>

{% include footer.html %}
