/*
 *
 * Styles for header.html
 *
 */

.header {
	position: relative;
	height: 100px;
	margin-bottom: 1em;

	@include breakpoint(small) {
		height: 150px;
	}
}

.header__nav {
	margin-top: 80px;

	@media screen and (max-width: 1150px) {
		display: none;
	}
}

.nav__ul--header {
	float: right;
}
