%hn{
   font-family: $heading-font;
   font-weight: 600;
   line-height: 1.2em;
   margin: 0 0 20px;
   // text-transform: uppercase;
   -webkit-font-smoothing: antialiased;
}

h1{
    @extend %hn;
    font-size: 1.6 + $ratio#{em};
}

h2{
    @extend %hn;
    font-size: 0.2 + $ratio#{em};
}

h3,
h4{
    @extend %hn;
    font-size: 1 + ($ratio--inv / 2)#{em};
}

.title--light {
  font-family: $font-weight-ultra-light;
  line-height: 1.3em;
}
