u,
.text--underlined{
    text-decoration: underline;
}

b,
strong,
h5,
.text--bold {
    font-family: $font-weight-bold;
}

i,
em,
.text--italic{
    font-style: italic;
}

.text-wrap {
	word-break: break-all;
    // Non standard for webkit
    word-break: break-word;
    hyphens: auto;
}